<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<h1>Update System</h1>
<form action="/update-system" method="post">
    <label for="system">Select System:</label>
    <select id="system" name="system" >
        <option value="navigation">Navigation</option>
        <option value="communications">Communications</option>
        <option value="life_support">Life Support</option>
        <option value="engines">Engines</option>
        <option value="deflector_shield">Deflector Shield</option>
    </select>
    <button type="submit">Update System</button>
</form>
</body>
</html>